<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JD: Galeria</title>
    <link rel="shortcut icon" href="https://cdn-icons.flaticon.com/svg/3917/3917762.svg?token=exp=1677688184~hmac=0049f44e0879b8dbf37c21b733281b79">

    <link rel="stylesheet" href="../styles/galeria/style.css">
</head>

<body>
    <nav>
        <ul>
            <li>
                <a href="../index.html"> <img src="https://cdn-icons-png.flaticon.com/512/20/20176.png" alt="a"  ></a>
                
            </li>
           
            
        </ul>
    </nav>

    <section>
        <div class="title">
            <h1>Galeria 2.0</h1>
            <p>Ahora con sass</p>
        </div>

        <div class="galeria">

            <div class="item">


                <h2>El bosque</h2>
                <img src="https://fastly.picsum.photos/id/630/400/400.jpg?grayscale&hmac=zV1ivw6dXQJOP-T4dUJVWpoHRIPnf7XaphR0uI_mBdo"
                    alt="">


            </div>
            <div class="item">


                <h2>La bici</h2>
                <img src="https://fastly.picsum.photos/id/146/400/400.jpg?grayscale&hmac=BfmlDTYNpDgDyZsonuyh9ZWDO_T_G5HHPjt8tnScicA"
                    alt="">


            </div>
            <div class="item">


                <h2>El poste</h2>
                <img src="https://fastly.picsum.photos/id/59/400/400.jpg?grayscale&hmac=Td39calHP3H226TcGXrQPhBCaWErla0_scw8GNO-Zes"
                    alt="">

            </div>                    
            <div class="item">


                <h2>El monte</h2>
                <img src="https://fastly.picsum.photos/id/930/400/400.jpg?grayscale&hmac=YVo8mZrjgRIrUPpjth2ON8uyX1pYx3PnUo56WgRAo6s"
                    alt="">

            </div>  
            <div class="item">


                <h2>El lago</h2>
                <img src="https://fastly.picsum.photos/id/456/400/400.jpg?grayscale&hmac=HIZTHj9WTmNgkVmukHjjn6SrqPRaUzz0QjLGiixCziY"
                    alt="">

            </div>  


        </div>
    </section>
    <footer>
        <ul>
            <li><a href="https://picsum.photos/g/400/400/" >Mas</a></li>
            <li>Pan </li>
        </ul>
    </footer>
</body>

</html>