<!doctype html>
<html lang="en">


<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>JD: Ñoticias</title>
    <link rel="shortcut icon"
        href="https://cdn-icons.flaticon.com/svg/3916/3916631.svg?token=exp=1677688184~hmac=d07600ef64fe8dd3b027025b23e1fed5">


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

    <link rel="stylesheet" href="../styles/noticias/style.css">
</head>

<body>


    <nav id="navbar-example2" class="navbar bg-body-tertiary px-3 mb-3 sticky-top">
        <a class="navbar-brand" href="#">
            <img src="../public/news.png" alt="Bootstrap" width="40" height="40">
        </a>
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="../index.html">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#scrollspyHeading1">News🔥</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#scrollspyHeading2">Popular</a>
            </li>


        </ul>
    </nav>
    <div data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-root-margin="0px 0px -40%"
        data-bs-smooth-scroll="true" class="scrollspy-example bg-body-tertiary p-3 rounded-2" tabindex="0">

        <section class="sec" id="scrollspyHeading1">
            <div id="titulo1">
                <h3>Noticias Recientes</h3>
                <p>Las mejores noticias no estan aqui pero tampoco son tan malas noticias</p>
            </div>



            <div class="container text-center">
                <div class="row">
                    <div class="col">

                        <div id="carouselExampleCaptions" class="carousel slide">
                            <div class="carousel-indicators">
                                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0"
                                    class="active" aria-current="true" aria-label="Slide 1"></button>
                                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                                    aria-label="Slide 2"></button>
                                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                                    aria-label="Slide 3"></button>
                            </div>
                            <div class="carousel-inner">
                                <a class="carousel-item active"
                                    href="https://cnnespanol.cnn.com/video/cometa-verde-poca-luz-tierra-planeta-astrologos-telescopios-dusa-roa/">
                                    <img src="https://cnnespanol.cnn.com/wp-content/uploads/2023/02/230202172750-cometa-verde-poca-luz-tierra-planeta-astrologos-telescopios-dusa-roa-00000605-full-169.png?w=780&h=438&crop=1"
                                        class="d-block w-100" alt="...">
                                    <div class="carousel-caption d-none d-md-block">
                                        <h5>Mira cómo es el cometa verde que pasa cerca de la Tierra</h5>
                                        <p>Fuente: CNN</p>
                                    </div>
                                </a>
                                <div class="carousel-item">
                                    <img src="https://cnnespanol.cnn.com/wp-content/uploads/2023/01/230123210204-spike-guinness-pba-full-169.jpg?quality=100&strip=info&w=300&h=170&crop=1"
                                        class="d-block w-100" alt="...">
                                    <div class="carousel-caption d-none d-md-block">
                                        <h5>Este es el perro más longevo del mundo, según Guinness World Records</h5>
                                        <p>Fuente: CNN</p>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <img src="https://cnnespanol.cnn.com/wp-content/uploads/2023/02/230224130020-frida-robot-full-169.jpg?quality=100&strip=info&w=780&h=438&crop=1"
                                        class="d-block w-100" alt="...">
                                    <div class="carousel-caption d-none d-md-block">
                                        <h5>El nuevo robot que pinta y está inspirado en Frida Kahlo</h5>
                                        <p>Fuente: CNN</p>
                                    </div>
                                </div>
                            </div>
                            <button class="carousel-control-prev" type="button"
                                data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button"
                                data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                    </div>
                    <div class="col">
                        <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-inner adapt">
                                <div class="carousel-item ">
                                    <img src="https://media.discordapp.net/attachments/891488165523767296/1079466578954956850/Mi_proyecto.jpg?width=893&height=468"
                                        class="d-block w-100  " alt="adsadadad">
                                </div>
                                <div class="carousel-item ">
                                    <img src="https://i.ytimg.com/vi/viszafbV3lg/mqdefault.jpg" class="d-block w-100"
                                        alt="...">
                                </div>

                                <div class="carousel-item active">
                                    <img src="https://i.ytimg.com/vi/GgrTE8VzpH4/mqdefault.jpg" class="d-block w-100"
                                        alt="...">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>


        </section>
        <section id="scrollspyHeading2">
            <div id="titulo2">
                <h3>Lo mas popular 🔥</h3>
                <p>No me digan que esto no lo saben.</p>
            </div>
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="https://cnnespanol.cnn.com/wp-content/uploads/2023/02/http___cdn.cnn_.com_cnnnext_dam_assets_230219131037-02-jeff-koons-balloon-dog-broken.jpg?quality=100&strip=info&w=300&h=170&crop=1"
                            class="img-fluid rounded-start imglimit" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">visitante rompe accidentalmente una escultura del "perro globo"</h5>
                            <p class="card-text">(CNN) -- Las famosas esculturas del artista Jeff Koons pueden parecer
                                hechas con globos, pero en realidad son frágiles, como descubrió una asistente a una
                                feria de arte cuando el jueves golpeó una pieza de Koons, valorada en US$ 42.000,
                                haciéndola añicos.


                            </p>
                            <a
                                href="https://cnnespanol.cnn.com/2023/02/06/revelan-esperada-escultura-bean-nueva-york-trax/">
                                <p class="card-text"><small class="text-muted">Fuente: CNN</small></p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="https://cnnespanol.cnn.com/wp-content/uploads/2023/02/bean-anish-kapoor-nueva-york-tribeca.jpg?quality=100&strip=info&w=300&h=170&crop=1"
                            class="img-fluid rounded-start imglimit" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Revelan la esperada escultura "bean" de Nueva York</h5>
                            <p class="card-text">Nota del editor: Este artículo fue publicado originalmente por The Art
                                Newspaper, un socio editorial de CNN Style.

                                Nueva York (CNN) -- Una gran escultura curvilínea y reflectante de Anish Kapoor que se
                                encargó para una esquina de una calle prominente en Lower Manhattan en 2008 finalmente
                                se completó. La obra, aún sin título, que comparte muchas características con la icónica
                                escultura "Cloud Gate" del artista británico en Chicago — conocida coloquialmente como
                                el "bean" — ahora brilla nítidamente en la esquina de las calles Church y Leonard en
                                Tribeca.</p>
                            <a
                                href="https://cnnespanol.cnn.com/2023/02/06/revelan-esperada-escultura-bean-nueva-york-trax/">
                                <p class="card-text"><small class="text-muted">Fuente: CNN</small></p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="https://cnnespanol.cnn.com/wp-content/uploads/2023/01/GettyImages-517433864.jpg"
                            class="img-fluid rounded-start imglimit" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Las cinco obras de arte que estuvieron —accidentalmente— expuestas al
                                revés</h5>
                            <p class="card-text">(CNN) -- El arte inspira y provoca pero, a veces, también causa
                                desconcierto y confunde. Para comenzar el nuevo año, observamos algunos de los ejemplos
                                más llamativos de un mundo al revés, que incluso han logrado confundir a los curadores
                                más experimentados.</p>
                            <a
                                href="https://cnnespanol.cnn.com/2023/01/13/cinco-obras-de-arte-colgadas-accidentalmente-al-reves-trax/">
                                <p class="card-text"><small class="text-muted">Fuente: CNN</small></p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div id="titulo3">
            <h3>Las bitcoins estan por el suelo</h3>
            <p>Ustedes creen eso?</p>
        </div>

        <table class="table  table-hover tabla">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre de la criptomoneda</th>
                    <th scope="col">Precio (en USD)</th>
                    <th scope="col">Capitalización de mercado 
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Bitcoin</td>
                    <td>$48,611.76 </td>
                    <td>$911.28 </td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Ethereum</td>
                    <td>$1,533.81</td>
                    <td>$176.17 </td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Binance Coin</td>
                    <td>$231.48</td>
                    <td>$35.68</td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td>Tether</td>
                    <td>$1.00</td>
                    <td>$37.48</td>
                </tr>
                <tr>
                    <th scope="row">5</th>
                    <td>Cardano	</td>
                    <td>$1.14</td>
                    <td>$36.21</td>
                </tr>
            </tbody>
        </table>
        

    </div>
  

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
</body>

</html>