<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>JD: Top 4</title>
  <link rel="shortcut icon"
    href="https://cdn-icons.flaticon.com/svg/3917/3917538.svg?token=exp=1677688184~hmac=6a1f8812c004cabff784d2ce0d59ff7f">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <link rel="stylesheet" href="../styles/top/style.css">
</head>

<body>
  <nav>
    <ul>
      <li>
        <a href="../index.html"> <img src="https://cdn-icons-png.flaticon.com/512/20/20176.png" alt="a"></a>

      </li>


    </ul>
  </nav>

  <section>
    <img
      src="https://img.freepik.com/premium-photo/wide-banner-with-many-random-square-hexagons-charcoal-dark-black-color_105589-1820.jpg?w=996"
      class="img-fluid imgbig" alt="...">
  </section>
  <div class="org">
    <h1>Top 4 paginas que hice en mi PROJECT0</h1>
    <div class="topItem">
      <h2>Top 1</h2>
      <h3>Esta pagina</h3>
      <p>Esta pagina la cree por que ya no tenia ideas ;)
        pero aunque no sea la mejor cumple los requisitos de utilizar bootstrap.
      </p>
      <figure class="figure">
        <img
          src="https://media.discordapp.net/attachments/984620943257243738/1080522098323230740/image.png?width=975&height=468"
          class="figure-img img-fluid rounded" alt="...">
        <figcaption class="figure-caption">Una pequeña pagina</figcaption>
      </figure>
    </div>
    <div class="topItem">
      <h2>Top 2</h2>
      <h3>"La galeria 2"</h3>
      <p>Solamente por que los humanos somos demasiado creativos esta pagina la cree para utilizar las imagenes dentro
        de flexbox.</p>
      <figure class="figure">
        <img
          src="https://media.discordapp.net/attachments/984620943257243738/1080521517160484924/image.png?width=975&height=468"
          class="figure-img img-fluid rounded" alt="...">
        <figcaption class="figure-caption">Una pequeña pagina</figcaption>
      </figure>
    </div>

    <div class="topItem">
      <h2>Top 3</h2>
      <h3>Las ñoticias</h3>
      <p>Segun las estadisticas que me acabo de inventar esta pagina es un -90% util pero ese -10% que falta ignoremoslo
        por que esta en negativo.</p>
      <figure class="figure">
        <img
          src="https://media.discordapp.net/attachments/984620943257243738/1080521269746860163/image.png?width=975&height=468"
          class="figure-img img-fluid rounded" alt="...">
        <figcaption class="figure-caption">Una pequeña pagina</figcaption>
      </figure>
    </div>
    <div class="topItem">
      <h2>Top 4</h2>
      <h3>El index</h3>
      <p> Antes de que me dijeran que se podía usar SASS en el proyecto, esta página solo contenía css. Debido a esto,
        sigue siendo relevante y no le quita importancia a la página. Disfruté haciéndolo porque redirige a las personas
        a otras páginas.</p>
      <figure class="figure">
        <img
          src="https://media.discordapp.net/attachments/984620943257243738/1080520817944834078/image.png?width=981&height=468"
          class="figure-img img-fluid rounded" alt="...">
        <figcaption class="figure-caption">Una pequeña pagina</figcaption>
      </figure>
    </div>
  </div>

  
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"></script>
</body>

</html>