$color-primario: #735F32;
$color-secundario: #000000;
$color-complementario: #282A3A;
$color-texto: #C69749;


@media (max-width: 460px) {
    
    .galeria {
        display: flex;
        flex-direction: column;

        flex-wrap: wrap;
        justify-content: center;
        gap: 20px 20px;
        padding-bottom: 5%;
        

        .item {
            
            border: 2%;
            text-align: center;
            background-color: $color-complementario;
            border-radius: 20px;

            h2 {
                color: $color-texto;
                font-family: 'Shantell Sans', cursive;
                padding-top: 3%;
            }

            img {
                padding: 10px;
                width: 80%;

            }
        }
    }
}

%flexbasic {
    display: flex;
    flex-direction: row;
    list-style: none;

}

@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans:wght@500&family=Tilt+Neon&display=swap');

* {
    padding: 0;
    margin: 0;
}

html,
body {
    max-width: 100%;
    overflow-x: hidden;
    background-color: $color-primario;
}

body {
    padding: 0;

    nav {
        background-color: $color-primario;
        height: 10%;
        width: 100%;

        ul {
            @extend %flexbasic;
            justify-content: space-evenly;

            li {
                padding: 2% 2% 2% 2%;

                img {
                    width: 30px;
                    height: 30px;
                }

                a:hover {
                    img {
                        filter: drop-shadow(2px 2px 5px $color-texto);
                    }
                }
            }
        }

    }

    section {
        background-color: $color-secundario;
        height: 80%;
        width: 100%;
        min-height: 100vh;

        .title {
            padding: 10%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-top: 5%;
            text-align: center;
            color: $color-texto;
            font-family: 'Shantell Sans', cursive;
        }

        .galeria {
            display: flex;
            flex-direction: row;

            flex-wrap: wrap;
            justify-content: center;
            gap: 20px 20px;
            padding-bottom: 5%;
            

            .item {
                
                border: 2%;
                text-align: center;
                background-color: $color-complementario;
                border-radius: 20px;

                h2 {
                    color: $color-texto;
                    font-family: 'Shantell Sans', cursive;
                    padding-top: 3%;
                }

                img {
                    padding: 10px;

                }
            }
        }

    }

    footer {
        background-color: $color-primario;
        height: 10%;
        width: 100%;


        ul {

            @extend %flexbasic;
            justify-content: space-evenly;

            li {
                padding: 2% 2% 2% 2%;
                color: $color-texto;
                font-family: 'Shantell Sans', cursive;

                a {

                    text-decoration: none;

                }

            }
        }
    }

}